hidapi==0.14.0
language_tool_python==3.2.2
psutil==7.2.2
pyobjc-framework-ApplicationServices==12.1
pyobjc-framework-Cocoa==12.1
pyobjc-framework-Quartz==12.1
pyperclip==1.11.0
PyQt6==6.10.2
pyspellchecker==0.8.4
pynput==1.8.1
requests==2.32.5
